@charset 'UTF-8';
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('font-awesome.min.css');


	html
	{
		height: 100%;
	}

	body
	{
		background: #3b414d;
		height: 100%;
		width: 100%;
	}

	body,input,textarea,select
	{
		font-family: 'Source Sans Pro', sans-serif;
		color: #777;
		font-weight: 400;
	}

	h1,h2,h3,h4,h5,h6
	{
		font-weight: 600;
		color: #535353;
	}

	h2
	{
		margin: 0 0 0.5em 0;
	}

	h3
	{
		margin: 0 0 0.5em 0;
	}

	header
	{
	}

		header.major
		{
			text-align: center;
			margin: 0 0 1.5em 0;
		}

			header.major h2
			{
				margin: 0 0 0.5em 0;
				background: #fff;
				display: inline-block;
				padding: 0 0.75em;
			}

				header.major h2:after
				{
					content: '';
					display: block;
					width: 100%;
					position: absolute;
					left: 0;
					margin-top: -0.55em;
					height: 3px;
					background: #f4f4f4;
					z-index: -1;
				}

	p, ul, ol
	{
		margin: 0 0 1.5em 0;
	}

	hr
	{
		position: relative;
		display: block;
		border: solid 1px rgba(0,0,0,0.15);
		border-left: 0;
		border-right: 0;
		height: 10px;
		box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.5), 0px 1px 0px 0px rgba(255,255,255,0.5);
		margin: 2em 0 2em 0;
	}

	a
	{
		color: inherit;
		border-bottom: dotted 1px;
		text-decoration: none;

		-moz-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
		-webkit-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
		-o-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
		-ms-transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
		transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
	}

		a:hover
		{
			color: #8eda7d;
			border-bottom-color: transparent;
		}

	form
	{
	}

		form label
		{
			display: block;
		}

		form input[type="text"],
		form input[type="password"],
		form input[type="email"],
		select,
		textarea
		{
			-webkit-appearance: none;
			display: block;
			width: 100%;
			border: solid 2px #e4e4e4;
			padding: 0.75em;
			font-size: 1em;
			color: #444;
			border-radius: 4px;
			outline: 0;

			-moz-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
			-webkit-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
			-o-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
			-ms-transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
			transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
		}

		form input[type="text"]:focus,
		form input[type="password"]:focus,
		form input[type="email"]:focus,
		select:focus,
		textarea:focus
		{
			border-color: #8eda7d;
			background: #fafafa;
		}

		form textarea
		{
			height: 13em;
		}

	.image
	{
		border-radius: 4px;
		overflow: hidden;
		border: 0;
	}

		.image img
		{
			border-radius: 4px;
		}

		.image.left
		{
			float: left;
			margin: 0.5em 2em 1em 0;
		}

		.image.full
		{
			display: block;
			width: 100%;
		}

			.image.full img
			{
				display: block;
				width: 100%;
			}

		.image.play
		{
			background: #000;
			position: relative;
		}

			.image.play img
			{
				opacity: 0.5;
			}

			.image.play:before
			{
				display: inline-block;
				font-family: FontAwesome;
				text-decoration: none;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;

				content: '\f04b';
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -32px 0 0 -32px;
				width: 64px;
				height: 64px;
				line-height: 64px;
				font-size: 48px;
				color: #fff;
				z-index: 1;
				text-align: center;
			}

	.button
	{
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		color: #fff !important;
		text-shadow: none;
		text-decoration: none;
		padding: 0 2em;
		min-width: 12em;
		font-weight: 600;
		line-height: 2.75em;
		border: 0;
		background: #8eda7d;
		border-bottom: solid 2px #72ae64 !important;
		border-radius: 4px;
		cursor: pointer;
		text-align: center;

		-moz-transition: background-color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out;
		-o-transition: background-color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out;
	}

		.button:hover
		{
			background: #9eea8d;
		}

	ul.contact
	{
	}

		ul.contact li
		{
			position: relative;
			margin: 0 0 1em 0;
			padding-left: 2em;
		}

		ul.contact li:before
		{
			display: inline-block;
			font-family: FontAwesome;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;

			position: absolute;
			left: 0;
			top: 0.35em;
			opacity: 0.5;
		}

	ul.style1
	{
	}

		ul.style1 li
		{
			padding: 0.25em 0 0.25em 0;
		}

		ul.style1 li:first-child
		{
			border-top: 0;
			box-shadow: none;
		}

	ul.icons
	{
		cursor: default;
	}

		ul.icons li
		{
			display: inline-block;
		}

			ul.icons li a
			{
				display: inline-block;
				width: 2em;
				height: 2em;
				line-height: 2em;
				text-align: center;
				border: 0;
			}

				ul.icons li a:before
				{
					font-size: 24px !important;
				}

				ul.icons li a span
				{
					display: none;
				}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

	.icon
	{
		text-decoration: none;
	}

		.icon:before
		{
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}

/*********************************************************************************/
/* Poptrox                                                                       */
/*********************************************************************************/

	.poptrox-popup
	{
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-o-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		text-align: center;
	}

		#header nav
		{
			position: relative;
		}

			#header nav a
			{
				color: #8b97a1;
				text-decoration: none;
				outline: 0;
				border: 0;
			}

			#header nav a:hover
			{
				color: #fff;
			}

		#header h1
		{
			display: inline-block;
			color: #fff;
		}

			#header h1 span
			{
				color: #a4b0bb;
			}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		position: relative;
		text-align: center;
		font-size: 0.8em;
		color: rgba(255,255,255,0.2);
	}

		#footer p
		{
			margin: 0 0 4em 0;
		}

		#footer .icons
		{
			margin: 0 0 1.25em 0;
		}

			#footer .icons a
			{
				color: #fff;
				color: rgba(255,255,255,0.25);
				margin: 0 0.75em 0 0.75em;
				-moz-transition: color .35s ease-in-out;
				-webkit-transition: color .35s ease-in-out;
				-o-transition: color .35s ease-in-out;
				-ms-transition: color .35s ease-in-out;
				transition: color .35s ease-in-out;
			}

				#footer .icons a:before
				{
					font-size: 2em;
				}

				#footer .icons a:hover
				{
					color: #fff;
				}
